a {
    color: #27251F;
    display: inline-block;
}

// ----------------------------------------------------------------
//                          Box Link
// ----------------------------------------------------------------
.box-link {
    font-size: 1.2rem;
    text-transform: uppercase;
    border: solid #27251F 1px;
    margin-top: 3rem;
    padding: 1.3rem 7.4rem;

}

// ----------------------------------------------------------------
//                         Shop Now Link
// ----------------------------------------------------------------
.shop-now-link {
    font-size: 1.2rem;
    text-transform: uppercase;
}
