.mid-nav {
    padding: 2rem 0;

    @include media-breakpoint-up(sm) {
        padding: 2rem 1rem;
    }

    @include media-breakpoint-up(lg) {
        width: 80%;
        margin: 0 auto;
    }

    .nav-item {

        .nav-link {
            font-size: 14px;
            opacity: .5;
            @include link-hover;

            &.active {
                opacity: 1;
            }

            &:hover {
                opacity: 1;
            }
        }
    }
}
