.footer {
    padding: 10rem 0 5rem 0;

    .pandora-disney-logo {
        width: 60%;
        margin: 0 auto;
    }

    .copyright {
        font-size: 10px;
        margin-top: 1rem;
        opacity: .5;
    }
}
