.footer {
    padding: 5rem 0 5rem 0;

    @include media-breakpoint-up(lg) {
        padding-top: 5rem;
    }

    .content-wrapper {
        border-top: solid rgba(227, 226, 226, 0.5) 1px;
        padding-top: 5rem;

        .footer-logo {
            max-width: 8.625rem;
            margin: 0 auto;

            .pandora-disney-logo {
                width: 100%;
            }
        }

        .copyright {
            font-size: 10px;
            margin: 1rem auto 0 auto;
            color: rgb(165, 164, 164);
            width: 80%;

            @include media-breakpoint-up(sm) {
                width: 60%;
            }

            @include media-breakpoint-up(md) {
                width: 40%;
            }

            a {
                color: rgb(165, 164, 164);
                @include link-hover;

                &:hover {
                    opacity: 1;
                    color: #000;
                }
            }
        }
    }
}
