.hero {
    .hero-bg-img {
        background-image: url(/src/assets/images/hero-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        height: 65rem;
        width: 100%;
        padding: 6rem 0;

        .hero-featured-img-block {
            width: 80%;
            margin: 0 auto;
            // padding-top: 4rem;
        }

        .hero-txt-block {
            padding: 2rem 1rem 0 1rem;

            .pandora-disney-logo {
                width: 70%;
            }

            .hero-txt {
                padding-top: 1rem;

                .text-block-desc {
                    padding-top: .5rem;
                }
            }
        }
    }
}
