header {
    .shop-pandora {
        .pandora-link {
            font-size: 1rem;
            padding: 1rem 0;
            text-decoration: underline;
        }
    }

    // .pandora-logo {
    //     max-width: 14.5rem;
    //     width: 10rem
    // }
}
