// General
$clr-brand-pink: #FF5C5C;
$clr-brand-black: #202020;
$clr-brand-white: #FFFFFF;

// Backgrounds
$bg-dark-grey: #ADADAD;
$bg-mid-grey: #E0E0E0;
$bg-light-grey: #E9E9E9;

$bg-top-nav-grey: #F6F6F6;
$clr-sign-up-black: #2A2A2A;
$bg-people: #F4F4F4;

// Text
$txt-black: #292929;
$txt-grey: #797979;
$txt-dark-grey: #414141;
$txt-top-nav-grey: #787878;
$txt-white: #FFFFFF;

// Buttons
$btn-grey: #D3D3D3;


// Light Grey Button
$btn-light-grey:#EFEFEF;
$btn-light-grey-txt:#232323;

// Black Button
$btn-black: #272727;
$btn-black-txt: #FFFFFF;
$btn-black-bg-hover: #D3D3D3;
$btn-black-bg-hover-txt: #202020;

// Socials

$clr-top-socials: #000000;

// Button Hovers

$clr-socials-hover: #808080;
